  body {
    background-color: beige;
    color: #333;
    text-align: center;
    font-family: cursive;
  }
/* nav bar css */
  ul.myNavbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }

  li.nav {
    float: left;
  }
  
  .barText {
    display: block;
    color: rgba(255, 255, 255, 0.801);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .barText:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-color: #04AA6D;
  }


/* text css */
  .ref {
    font-size: xx-small;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
  }

/* div container css */
  div.container {
    display: block;
    justify-content: center;
    margin-top: 5%;
  }

/* sign up user input css */
  .userInput{
    display:flexbox;
    border: black 1.5px solid;
    margin-top: 5px;
    border-radius: 0.67em;
    text-align: center;
    line-height: 4px;
  }


/* Profile table */
.profile-table, th, td{
  border-bottom: 1.5px solid #ddd;
  border-collapse: collapse;
  text-align: center;
  padding: 10px;
  margin: auto;
  width: 50%;
}

tr:hover {background-color: #D6EEEE;}


